:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-background: #420101;
  --color-text: #ffd3d3;
  --color-visited: #ffaaaa;
  --color-cherryBlossom: #ffb5c6;
  --color-objects: #960018;
  --color-active: #ff222255;
}

#navbar {
  display: flex;
  position: absolute;
  top: 0;
  margin-bottom: 10rem;
}

#welcome-section {
  max-height: 100%;
}

@media (max-width:769px) {
  #projects {
    max-width: 768px;
  }
}