:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-background: #420101;
  --color-text: #ffd3d3;
  --color-visited: #ffaaaa;
  --color-cherryBlossom: #ffb5c6;
  --color-objects: #960018;
  --color-active: #ff222255;
}

body {
  background-color: beige;
}

.catTribIMG {
  display: block;
  max-width: 100%;
  height: max-height;
  align-content: center;
  text-align: center;
  background-color: white;
  margin: auto;
}

.catTribCaption {
  width: 100%;
  text-align: cetner;
  align-content: center;
  margin: auto;
}

#secTitle {
  width: 100%;
  margin: 1rem 0rem;
  padding-left: 0;
  background-color: beige;
}

#title {
  display: block;
  text-align: center;
  font-size: 3rem;
  padding-bottom: 0rem;
}

#title-desc {
  display: block;
  text-align: center;
  font-size: 1.5rem;

}

#img-div {
  background-color: white;
  margin: 0rem auto;
}

#image {
  max-width: 100%;
  align-content: center;
}

.tribute-list {
  text-align: left;
}