:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-backgroundPrim: #555555;
    --color-backgroundSecond: #00ff00;
    --color-foregroundPrim: #aaaaaa;
    --color-foregroundSecond: #0000ff;
    --color-buttonText: #ffffff;
    --color-buttonHover: #ff0000;
    --color-buttonPress: #ffff00;
    --color-button: #454545;
    --color-linkBase: #ff00ff;
    --color-linkHover: #880088;
    --color-linkPress: #330033;
    --color-linkFollowed: #00ffff;
}

