:root{
  --color-white: #ffffff;
  --color-black: #000000;
  --color-background: #420101;
  --color-text: #ffd3d3;
  --color-visited: #ffaaaa;
  --color-unvisited: #ffb5c6;
  --color-objects: #960018;
  --color-active: #ff222255;
}

body{
background: var(--color-background);
color: var(--color-text);
display:flex;
flex-direction:column;
align-items:center;
width:80vw;
margin:5vh auto;
}

.header-section {
text-align: center;
margin-bottom:1vh;

}

h1 {
text-align: center;
color: var(--color-text);
font: bold 3rem serif, times;
margin:1vh auto;
}

.main-body{
text-align: center;

}

fieldset{
border:5px solid white;
display:inherit;
margin:2vh

}

.user-fieldset{
text-align: center;

}

.option-fieldset{
text-align: center;

}

.additional-fieldset{
text-align: center;
display:inherit;
flex-direction:inherit;
}

.additional-checkboxes{
display:flex;
flex-direction: column;
justify-content:left;
}

#comments{
background: var(--color-objects);
color: var(--color-text);
}

#comments::placeholder{
color: var(--color-visited)
}

.submit-fieldset{
text-align: center;

}

.inline {
width: unset;
margin: 0 0.5em 0 0;
vertical-align: middle;
}



.footer {
display: flex;
flex-direction: column;
text-align: center;
position: fixed;
bottom: 0;
left: 0;
width: 100%;
margin-top:2vh;
}

a:link {
color: var(--color-unvisited);
}

a:visited {
color: var(--color-visited);
}